.image{
    text-align: center;
    height: 100px;
}

form{
    display: inline-block;
}

.searchImg{
    width: 32px;
    height: 32px;
}


li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 5px; /* Отступ слева в браузере IE и Opera */
    padding-left: 5px; /* Отступ слева в браузере Firefox, Safari, Chrome */
}


a {
    color: black; /* Цвет обычной ссылки */
    text-decoration: none;
}

a:hover {
    color: blue; /* Цвет ссылки при наведении на нее курсора мыши */
    /*background: #e24486; !* Цвет фона *!*/
}


